*{
    margin: 0;
padding: 0;
}
            /* header section starts here */
            /* navbar begins */
header{
   
    background-color: #1115e5;
}

nav{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    color: rgb(237, 227, 227);
    width:93%;
    align-items: end;
    padding-top: 10px;
}
nav,a{
    margin: 0px 35px 0px 40px;
    font-size: 20px;
}

.logo{
    margin-left: 40px;
}

.header-text{
    
    padding: 150px;
    font-size: larger;
    color: white;
}
.header-image{
    position: absolute;
    left : 953px;
    top: 100px;

}

/* header section ends here */

.companies ,a{
   
    color: black;
    font-weight: 900;
    text-decoration: none;
}

/* api section stars here */

.api-heading{
    margin:50px 0px 0px 50px;
}

.cards{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.card-active{
    padding: 20px;
    background-color: #e7dbdb;
    border-radius: 10px;
}
.card{
    padding: 20px;
    border-radius: 2px;
}
.card-head-active{
    margin-top: 15px;
    color: #1115e5;
}
.card-head{
    margin-top: 15px;
}
.card-body{
    margin-top: 5px;
}


/* api categori section ens here */

/* <!-- Blog section --> */
  

.blog-cards{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 200px;
margin-left: 50px;
}

.blog-card
{
    border-radius: 50px 10px 10px;
    box-shadow: 5px 10px 30px black;
    /* padding: 30px; */
    padding: 0px 40px 0px 0px;
    margin-left: 60px;
}

.blog-heading{
    margin-top: 30px ;
    margin-left: 30px;
}
.blog-image{
    display: inline;
}

.blog-content{
    display:inline-block;
    position: absolute;
    /* bottom: 110px ;
    left: 40px; */
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;

}
.blog-bottom{
    display: inline;
    /* position: absolute; */
    position: relative;
    margin-left: 30px;
 top: 15px;
 
}

.blog-author{
    display: inline;
    margin-left: 5px;
    position: relative;
    bottom: 5px;

}

/* <!-- FAQ SECTION --> */
.faq-section{
    display: flex;
    margin-top: 70px;
  background-color: #b2b4d8;
  justify-content: space-between;
  height: 324px;
  
}

.faq-content{
    margin: 40px 0px 0px 60px;

}
.faq-content h2:first-child{
    font-size: 40px;
    font-weight: 900;
}
.faq-content h4:nth-child(2){
    font-size: 15px;
    margin-top: 20px;
    font-weight: 400;
}

.faq-content h4:nth-child(3){
    font-size: 15px;
    margin-top: 20px;
    font-weight: 900;
}
.faq-content button{
    margin-top: 30px;
    border-radius: 4px;
    background-color: #1115e5;
    padding: 4px 9px;
    color: #b2b4d8;
    font-weight: 400;
}


/* <!-- Download --> */

.download-section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.download-content{
    margin-left: 100px;

}

.download-content span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.download-email{
    background-color: #b2b4d8;
    width: 700px;
    border-radius: 50px;
}
.download-email button{
    margin-left: 268px;
    padding: 20px 40px 20px 40px;
    border-radius: 50px;
    background-color: #1115e5;
    color: aliceblue;

}
.download-email input{
    border: none;
    background-color: #b2b4d8;
    color: #111010;
    margin-left: 33px;
    font-size: 20px;
}
/* <!-- Download end here --> */

.footer-section{
    margin-top: 85px;
    background-color: #2e12e1;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    margin-top: 100px;
    margin-left: 100px;
}
.list{
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-between;
    color: #ffffff;
}

.footer-right{

    margin-top: 50px;
    margin-right: 100px;
}
.footer-right img{
    margin-right: 8px;
}
.logos-list{
    display: flex;
    list-style-type: none;
    width: 200px;
    justify-content: space-between;
    margin-top: 30px;
    color: #ffffff;
    margin-bottom: 60px;
}